.cover-log{
    width:max-content;
    height: 60px;
    background-image: url('/drdr_quotation_template/static/src/description/cover.jpeg') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.page div{
    border:0px !important;
}

.page h3 {
    background-color: gray !important;
    color: white !important;
}

#totals tr{
    background-color: white !important;
}

.gray thead tr{
    background-color: gray !important;
    color: #fff !important;
}